---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../layouts/BlogPost.astro";
import Newsletter from "../components/shared/Newsletter.svelte";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<main class="px-4 md:px-40 lg:px-80">
  <BlogPost {...post.data}>
    <img
      src={post.data.heroImage}
      alt={post.data.title}
      class="rounded-sm aspect-video object-cover"
      transition:name={post.slug}
      width="1280"
      height="720"
    />
    <Content />
  </BlogPost>
</main>
<footer class="bg-neutral-100 p-8 w-full">
  <div class="px-4 md:px-40 lg:px-80">
    <Newsletter />
  </div>
</footer>
