---
import { getCollection } from "astro:content";
import BaseHead from "../components/shared/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Home from "../components/Home/Home.svelte";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

console.log(
  `
██╗░░░██╗███████╗██╗░░░░░░█████╗░██████╗░██╗░░░██╗░██████╗██╗░░██╗
██║░░░██║██╔════╝██║░░░░░██╔══██╗██╔══██╗██║░░░██║██╔════╝██║░░██║
╚██╗░██╔╝█████╗░░██║░░░░░██║░░██║██████╔╝██║░░░██║╚█████╗░███████║
░╚████╔╝░██╔══╝░░██║░░░░░██║░░██║██╔══██╗██║░░░██║░╚═══██╗██╔══██║
░░╚██╔╝░░███████╗███████╗╚█████╔╝██║░░██║╚██████╔╝██████╔╝██║░░██║
░░░╚═╝░░░╚══════╝╚══════╝░╚════╝░╚═╝░░╚═╝░╚═════╝░╚═════╝░╚═╝░░╚═╝
`
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <Home {posts} />
    </main>
  </body>
</html>
