---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/shared/BaseHead.astro";
import FormattedDate from "../components/shared/FormattedDate.svelte";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />

    <!-- The css is a little wack but Idk how to use tailwind styles here -->
    <style is:inline>
      p,
      ul,
      li {
        font-size: 16px;
        color: #6f6f6f;
      }

      ul {
        list-style-type: disc !important;
      }

      pre {
        font-size: 1rem !important;
        line-height: 1.25 !important;
        padding: 0.75rem 1rem;
        font-family: "Space Mono", monospace !important;
        border-radius: 1rem;
        background-color: #f1f1f1 !important;
        /* margin: 1rem 0 !important; */
      }

      code {
        background-color: #f1f1f1 !important;
        border-radius: 0.1rem !important;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Poppins", sans-serif !important;
        color: #404040 !important;
        /* margin: 1rem 0 !important; */
      }

      h1 {
        font-size: 4rem !important;
        line-height: 1;
      }

      h2 {
        font-size: 3rem !important;
        line-height: 1;
      }

      h3 {
        font-size: 2rem !important;
        line-height: 1;
      }

      a {
        color: #000 !important;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <small><FormattedDate myDate={pubDate} /></small>
    <div class="text-6xl flex flex-col gap-8 pb-8">
      <slot />
    </div>
  </body>
</html>
